{% extends 'layouts/base.html' %}
{% load static %}
{% load a000_custom_tags %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}


	<script src="{% static 'assets/plugins/jquery/js/jquery.min.js' %}"></script>


  <!--[Boost - Tool Life ] start-->
  <div class="row">
    <div class="col-sm-12 ml-3  mb-1">
      <div class="row justify-content-between">
        <div class="col-auto d-flex flex-column-reverse">
          <h5>{{ child }}</h5>
        </div>
        <div class="col-auto pr-1">
          <a href="{% url 'a004:tool_cards' FIRST_PRODUCT_CATEGORY.icode FIRST_TOOL_TYPE.icode %}">
            <button class="btn btn-secondary btn-sm -right">
              <i class="fa fa-home"></i> Go Home
            </button>
          </a>
        </div>
      </div>
      <hr class="mt-1">
      <div class="row pl-0">
        <div class="col-md-6 col-xl-6 ">
          <div class="card daily-sales">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-9">
                  <h4>{{ tps_map.tps_map.tool_i.name }}</h4>
                  <h6><i class="feather icon-map-pin text-primary"></i><span class="text-muted"> {{ tps_map.tps_map.production_station_i | get_pl_ps_name_of_ps }} </span></h6>
                </div>
              </div>
            </div>
            <div class="card-block border-bottom">
              <div class="row align-items-center justify-content-center mt-1">
                <div class="col-auto tool-heart">
                  {% if tps_map.in_low_life %}
                    <h1><i class="feather icon-heart-on text-danger"></i></h1>
                  {% else %}
                    <h1><i class="feather icon-heart-on text-success"></i></h1>
                  {% endif %}
                </div>
                <div class="col text-right">
                  <h3>{{ tps_map.avl_tool_life | number_with_comma }}</h3>
                  <h6 class="text-muted"><small class="text-muted">out of </small>{{ tps_map.tps_map.full_life | number_with_comma }}</h56>
                </div>
              </div>
              <div class="row d-flex align-items-center mt-2">
                <div class="col-7">
                  <small class="mb-4">Available life</small>
                </div>
                <div class="col-5 text-right">
                  <p class="m-b-0">{{ tps_map.avl_life_percent }}%</p>
                </div>
              </div>
              <div class="progress">
                {% if tps_map.in_low_life %}
                  <div class="progress-bar progress-c-theme2" role="progressbar" style="width: {{ tps_map.avl_life_percent }}%" aria-valuenow="{{ tps_map.avl_life_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                {% else %}
                  <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{ tps_map.avl_life_percent }}%" aria-valuenow="{{ tps_map.avl_life_percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-6 ">
          <div class="card">
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                    <small class="form-text">{{ field.help_text }}</small>
                  </div>
                  <span class="text-danger d-block text-left">{{ field.errors }}</span>
                {% endfor %}
                {% if form.non_field_errors %}
                  <span class="text-danger d-block my-3">
                    {% for error in form.non_field_errors %}
                      <p> {{ error }} </p>
                    {% endfor %}
                  </span>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>                 
  <!--[Boost - Tool Life ]end-->


  <!-- [ messages ] start-->
  <div class="col-sm-12">
    {% if messages %}
      {% for message in messages %}
        {% if message.level in CUSTOM_MESSAGE_DISSMISSABLE_LEVELS_LIST %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% elif message.level in CUSTOM_MESSAGE_POPUP_LEVELS_LIST  %}          
          <!-- [Popup Modal] start-->
          <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content card rounded">
                <div class="modal-header">
                  <h5 class="modal-title"> Notification </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center text-{{ message.tags }}">
                  {{ message }}
                </div>
              </div>
            </div>
          </div>
          <!-- [Popup Modal] end-->
          <script>
            $(document).ready(function() {
              $("#messageModal").modal('show')
            })
          </script>

        {% else %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="modal fade" id="customErrorMessageModal" tabindex="-1" role="dialog" aria-labelledby="customErrorMessageModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content card rounded">
          <div class="modal-header">
            <h5 class="modal-title"> Notification </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center text-danger" id="custom_error_message"> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ messages ] end-->


{% endblock content %}