<configuration>
  <appSettings>
    <!-- Correct WSGI handler path -->
    <add key="WSGI_HANDLER" value="xylem.wsgi.application" />

    <!-- Path to your Django project root -->
    <add key="PYTHONPATH" value="G:\INDUSTRY4.0\Project_Xylem\xylem" />

    <!-- Django settings module -->
    <add key="DJANGO_SETTINGS_MODULE" value="xylem.settings" />

  </appSettings>

  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*" 
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="G:\INDUSTRY4.0\Project_Xylem\xylem_environ\Scripts\python.exe|G:\INDUSTRY4.0\Project_Xylem\xylem_environ\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <defaultDocument>
      <files>
        <add value="index.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
