{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <script src="{% static 'assets/plugins/jquery/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/plugins/jspdf/jspdf.min.js' %}"></script>
  <script src="{% static 'assets/plugins/jspdf/jspdf.plugin.autotable.min.js' %}"></script>

  <!-- [QA Patrol Report Single View] start-->
  <div class="col-sm-12">
    <div class="card Recent-Users">
      <div class="card-header">
        <h5>{{child}}</h5>
        <label class="general_head_label">
          Line : {{ production_line.name }}
        </label>
        <label class="general_head_label">
          Date : {{ date }} {{ shift.name }}
        </label>
        <a href="{% url 'a005:qa_patrol_report_selection' %}">
          <button class="btn btn-secondary btn-sm float-right">
            <i class="fa fa-home"></i> Go Home
          </button>
        </a>
      </div>
      <div class="card-body">
        <div class="d-flex flex-row-reverse">
          <div class="form-inline float-right">
            <div class="form-group mb-2">
              <label class="font-weight-bold mr-3" for="check_selector">View Check:</label>
              <select id="check_selector"  class="form-control">
                {% for inspection in inspections %}
                  <option value="{{ inspection }}">{{ forloop.counter }}</optin>
                {% endfor %}
              </select>
              <label class="font-weight-normal ml-1" >out of {{inspections.count}} </label>
            </div>
          </div>
        </div>
        <div class="row" id="inspection_table"> 
        </div>
        <button class="btn btn-primary mt-1" onclick="exportPdf('desc_table_part1', 'desc_table_part2')">
          <i class="fa fa-download"></i> Download Inspection Check
        </button>
      </div>
    </div>
  </div>
  <!-- [QA Patrol Report Single View] end-->

  <!-- [ messages ] start-->
  <div class="col-sm-12">
    {% if messages %}
      {% for message in messages %}
        {% if message.level in CUSTOM_MESSAGE_DISSMISSABLE_LEVELS_LIST %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% elif message.level in CUSTOM_MESSAGE_POPUP_LEVELS_LIST %}

        <!-- [Popup Modal] start-->
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content card rounded">
              <div class="modal-header">
                <h5 class="modal-title"> Notification </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center text-{{ message.tags }}">
                {{ message }}
              </div>
            </div>
          </div>
        </div>
        <!-- [Popup Modal] end-->

        <script>
          $(document).ready(function () {
            $("#messageModal").modal('show')
          })
        </script>

        {% else %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <!-- [ messages ] end-->

  <!-- [ Script / Ajax ] start-->
  <script>

    // Empty option selection disabled
    function empty_option_disable() {
      document.querySelectorAll("option").forEach(opt => {
        if (opt.value == "") {
          opt.disabled = true;
        }
      });
    }
    empty_option_disable()

    const check_selector = document.getElementById("check_selector")
    const url_it = "{% url 'a005:ajax_get_inspection_table' %}"
    $.ajax({                       // initialize an AJAX request
      url: url_it,                    // set the url of the request (= /members/ajax/load-data/ )
      data: {
        'inspection_id': $("#check_selector").val()       // GET parameters
      },
      success: function (data) {
        $("#inspection_table").html(data);
      }
    })
    $(document).on('change', "#check_selector", function () {
      $.ajax({                       // initialize an AJAX request
        url: url_it,                    // set the url of the request (= /members/ajax/load-data/ )
        data: {
          'inspection_id': $("#check_selector").val()       // GET parameters
        },
        success: function (data) {
          $("#inspection_table").html(data);
        }
      })
    });
    
  </script>
  <!-- [ Script / Ajax ] end -->

{% endblock content %}