{% extends 'layouts/base.html' %}
{% load static %}
{% load a000_custom_tags %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <script src="{% static 'assets/plugins/jquery/js/jquery.min.js' %}"></script>
  
  <style>
		td{
			white-space: normal !important;
			word-wrap: break-word;
		}
  </style>

  <!--[  Update Partnumber drawing ] start-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ child }}</h5>
          <a href="{% url 'dp_pn_drawings' FIRST_PRODUCT_CATEGORY.icode FIRST_PN_DRAWING_STATUS.icode FIRST_PAGINATION_OPTION.icode 1 %}">
            <button class="btn btn-secondary btn-sm float-right">
              <i class="fa fa-home"></i> Go Home
            </button>
          </a>
        </div>
        <div class="card-block">
          <label class="general_head_label">
            Partnumber : {{ part_number_id | get_name_of_icode }}
          </label>
          <form id="upload-form" method="post" enctype="multipart/form-data" class="mt-3">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }} {{ field }}
                <small class="form-text">{{ field.help_text }}</small>
              </div>
              <span class="text-danger d-block text-left">{{ field.errors }}</span>
            {% endfor %}          
            <button type="submit" class="btn btn-primary">Update Drawing</button>
          </form>
          <hr>
           <div class="table-responsive">
            <h5 class="mt-1 mb-2">Previous Drawings</h5>
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <th>Uploaded By</th>
                  <th>Uploaded On</th>
                  <th>Change Description</th>
                  <th>Version</th>
                  <th>Drawing File</th>
                </tr>
              </thead>
              <tbody>
                 {% for drawings in drawings_obj %}
                <tr>                 
                  <td>{{ drawings.added_user | get_user_display_format }}</td>
                  <td>{{ drawings.created_at }}</td> 
                  <td>{{ drawings.change_desc }}</td>
                  <td>{{ drawings.version }}</td> 
                  <td>
                    <a href="{{ drawings.drawing_file.url }}" target="_blank" class="btn btn-success mt-1">
                      Download drawing
                    </a>
                  </td>               
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>       
      </div>
    </div>
  </div>
  <!--[   Update Partnumber drawing ] end-->

  <!-- [ messages ] start-->
  <div class="col-sm-12">
    {% if messages %}
      {% for message in messages %}
        {% if message.level in CUSTOM_MESSAGE_DISSMISSABLE_LEVELS_LIST %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% elif message.level in CUSTOM_MESSAGE_POPUP_LEVELS_LIST  %}
          
          <!-- [Popup Modal] start-->
          <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content card rounded">
                <div class="modal-header">
                  <h5 class="modal-title"> Notification </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center text-{{ message.tags }}">
                  {{ message }}
                </div>
              </div>
            </div>
          </div>
          <!-- [Popup Modal] end-->

          <script>
            $(document).ready(function() {
              $("#messageModal").modal('show')
            })
          </script>

        {% else %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <!-- [ messages ] end-->

{% endblock content %}

