{% load i18n static admin_datta %}

<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="{% url 'custom_index' %}" class="b-brand">
        <img src="{% static 'assets/images/xylem-logo.png' %}" style="width: 30px; height: 30px;"></img>
        <span class="b-title">Xylem</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item {% if 'custom_index' in segment %}active{% endif %}">
          {% if request.user.is_superuser %}
          <a href="{% url 'admin:index' %}" class="nav-link ">
          {% else %}
          <a href="{% url 'custom_index' %}" class="nav-link ">
          {% endif %}
            <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span>
          </a>
        </li> 
        
        {% if not request.user.is_authenticated %}
        <li
          data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
          class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
          <ul class="pcoded-submenu">
            <li class=""><a href="{% url 'login' %}" class="">Sign IN</a></li>
            <li class=""><a href="{% url 'register' %}" class="">Register</a></li>
          </ul>
        </li>
        {% endif %}

        {% admin_get_menu as app_list %}
        {% if app_list %}
          {% for app in app_list %}
            {% if app.has_perms and not app.pinned %}
              <li 
                data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                class="nav-item pcoded-hasmenu"
              >
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class=" {% if app.icon %}{{ app.icon }} {% else %} feather icon-box {% endif %}"></i></span>
                  <span class="pcoded-mtext">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                </a>
                {% if app.models %}
                  <ul class="pcoded-submenu">
                    {% for model in app.models %}
                      {% if model.url %}
                        <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                          <a class="nav-link" href="{{ model.url }}">{{ model.label }}</a>
                        </li>
                      {% else %}
                        <li class="nav-item">{{ model.label }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if request.user.is_authenticated and not request.user.is_superuser  %}
        <li class="nav-item pcoded-menu-caption">
          <label>Explorer</label>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'Dashboards' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
            class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Dashboards</span>
            <span class="pcoded-badge label label-danger">Inprogress</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="{% if 'OEE Dashboard' in segment %}active{% endif %}"><a href="{% url 'a007:oee_dashboard' %}" class="">OEE</a></li>
            <li class="{% if 'Power Consumption Dashboard' in segment %}active{% endif %}"><a href="{% url 'a009:pc_dashboard' %}" class="">Power Consumption</a></li>
            <li class="{% if 'Water Consumption Dashboard' in segment %}active{% endif %}"><a href="{% url 'a009:wc_dashboard' %}" class="">Water Consumption</a></li>
          </ul>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'Approval' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-check-circle"></i></span><span class="pcoded-mtext">Approval</span></a>
          <ul class="pcoded-submenu">
            <li class="{% if 'New Users' in segment %}active{% endif %}"><a href="{% url 'new_users_handle' FIRST_PAGINATION_OPTION.icode 1 %}" class="">New Users</a></li>
            <li class="{% if 'Patrol Inspections' in segment %}active{% endif %}"><a href="{% url 'a005:qa_patrol_inspection_approval' FIRST_PAGINATION_OPTION.icode 1  %}" class="">Patrol Inspection</a></li>
            <li class="{% if 'New 4M Forms' in segment %}active{% endif %}"><a href="{% url 'a006:four_m_approval' FIRST_PAGINATION_OPTION.icode 1 %}" class="">4M Approvals</a></li>
            <li class="{% if 'OEE Events Acceptence' in segment %}active{% endif %}"><a href="{% url 'a007:oee_event_response' FIRST_PAGINATION_OPTION.icode 1 %}" class="">OEE Event Response</a></li>
          </ul>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'Entry Forms' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-file-text"></i></span><span class="pcoded-mtext">Forms</span></a>
          <ul class="pcoded-submenu">
            <li class="{% if 'QA Patrol - Inspection' in segment %}active{% endif %}"><a href="{% url 'a005:qa_patrol_inspection_selection' %}" class="">QA Inspection</a></li>
            <li class="{% if '4M Entry Form' in segment %}active{% endif %}"><a href="{% url 'a006:four_m_form' %}" class="">4M Form</a></li>
            <li class="{% if 'QA Rejection and Rework Entry Form' in segment %}active{% endif %}"><a href="{% url 'a002:qa_rejection_rework_form' %}" class="">Rejection & Rework Booking</a></li>
            <li class="{% if 'ss' in segment %}active{% endif %}"><a href="{% url 'a002:qa_rejection_rework_form' %}" class="">Rework Completion Form</a></li>
            <li class="{% if 'Poka Yoke - Inspection' in segment %}active{% endif %}"><a href="{% url 'a010:awaiting_poka_yoke_inspections' FIRST_PRODUCT_CATEGORY.icode %}" class="">Poka Yoke Inspection</a></li>
          </ul>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'Data Panel' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-folder"></i></span><span class="pcoded-mtext">Data Panel</span></a>
          <ul class="pcoded-submenu">
            <li class="{% if 'dp_part' in segment %}active{% endif %}"><a href="{% url 'dp_part' FIRST_PRODUCT_CATEGORY.icode %}" class="">Production</a></li>
            <li class="{% if 'dp_qa_patrol' in segment %}active{% endif %}"><a href="{% url 'dp_qa_patrol' FIRST_PRODUCT_CATEGORY.icode FIRST_CHECKSHEET_STATUS.icode %}" class="">QA Patrol Checksheets</a></li>
            <li class="{% if 'dp_oee_event' in segment %}active{% endif %}"><a href="{% url 'dp_oee_event' request.user.dept_i.icode %}" class="">OEE events</a></li>
            <li class="{% if 'Workflows' in segment %}active{% endif %}"><a href="{% url 'dp_workflows' FIRST_WORKFLOW_STATUS.icode %}" class="">Workflows</a></li>
            <li class="{% if 'Partnumber Drawings' in segment %}active{% endif %}"><a href="{% url 'dp_pn_drawings' FIRST_PRODUCT_CATEGORY.icode FIRST_PN_DRAWING_STATUS.icode FIRST_PAGINATION_OPTION.icode 1 %}" class="">Partnumber Drawings</a></li>
          </ul>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'projects' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-grid"></i></span><span class="pcoded-mtext">Projects</span></a>
          <ul class="pcoded-submenu">
            <li class="{% if 'QA Report and Reprocess' in segment %}active{% endif %}"><a href="{% url 'a001:home' %}" class="">QA Report and Reprocess</a></li>
            <li class="{% if 'Homo Content Verification' in segment %}active{% endif %}"><a href="{% url 'a003:home' %}" class="">Homo Content Verification</a></li>
            <li class="{% if 'Tool Cards' in segment %}active{% endif %}"><a href="{% url 'a004:tool_cards' FIRST_PRODUCT_CATEGORY.icode FIRST_TOOL_TYPE.icode %}" class="">Tool Cards</a></li>
            <li class="{% if 'Poka Yoke Cards' in segment %}active{% endif %}"><a href="{% url 'a010:poka_yoke_tree' FIRST_PRODUCT_CATEGORY.icode %}" class="">Poka Yoke Cards</a></li>
            <li class="{% if 'Production Plan' in segment %}active{% endif %}"><a href="{% url 'a007:production_plan_init' FIRST_PRODUCT_CATEGORY.icode %}" class="">Production Plan</a></li>
          </ul>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'reports' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-layers"></i></span><span class="pcoded-mtext">Reports</span></a>
          <ul class="pcoded-submenu">
            <li class="{% if 'QA Patrol Report' in segment %}active{% endif %}"><a href="{% url 'a005:qa_patrol_report_selection' %}" class="">QA Patrol Reports</a></li>
            <li class="{% if 'QA Rejection and Rework Report' in segment %}active{% endif %}"><a href="{% url 'a002:qa_rejection_rework_report' FIRST_PRODUCT_CATEGORY.icode %}" class="">Rejections & Rework Reports</a></li>
            <li class="{% if '4M Report' in segment %}active{% endif %}"><a href="{% url 'a006:four_m_report_filter' %}" class="">4M Reports</a></li>
            <li class="{% if 'Tool History Card' in segment %}active{% endif %}"><a href="{% url 'a004:tool_history_card' FIRST_PRODUCT_CATEGORY.icode FIRST_TOOL_TYPE.icode %}" class="">Tool History Card</a></li>
            <li class="{% if 'OEE Reports' in segment %}active{% endif %}"><a href="{% url 'a007:oee_report' %}" class="">OEE Reports</a></li>
          </ul>
        </li>
        <!-- <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'graphical_reports' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
              class="bi bi-file-bar-graph"></i></span><span class="pcoded-mtext">Graphical Reports</span></a>
          <ul class="pcoded-submenu">
            <li class="{% if 'QA Rejection and Rework Graphical Report' in segment %}active{% endif %}"><a href="{% url 'a002:qa_rejection_rework_graphical_report' FIRST_PRODUCT_CATEGORY.icode %}" class="">Rejections & Reworks</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item pcoded-menu-caption">
          <label>UI Element</label>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu {% if 'basic_components' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
          <ul class="pcoded-submenu">
            <li class="{% if 'button' in segment %}active{% endif %}"><a href="{% url 'bc_button' %}" class="">Button</a></li>
            <li class="{% if 'badges' in segment %}active{% endif %}"><a href="{% url 'bc_badges' %}" class="">Badges</a></li>
            <li class="{% if 'breadcrumbs_&_pagination' in segment %}active{% endif %}"><a href="{% url 'bc_breadcrumb_pagination' %}" class="">Breadcrumb & paggination</a></li>
            <li class="{% if 'collapse' in segment %}active{% endif %}"><a href="{% url 'bc_collapse' %}" class="">Collapse</a></li>
            <li class="{% if 'navs_&_tabs' in segment %}active{% endif %}"><a href="{% url 'bc_tabs' %}" class="">Tabs & pills</a></li>
            <li class="{% if 'typography' in segment %}active{% endif %}"><a href="{% url 'bc_typography' %}" class="">Typography</a></li>
            <li class="{% if 'feather_icon' in segment %}active{% endif %}"><a href="{% url 'icon_feather' %}" class="">Feather<span
                  class="pcoded-badge label label-danger">NEW</span></a></li>
          </ul>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Forms & table</label>
        </li>
        <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item {% if 'form_elements' in segment %}active{% endif %}">
          <a href="{% url 'form_elements' %}" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form elements</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item {% if 'basic_tables' in segment %}active{% endif %}">
          <a href="{% url 'basic_tables' %}" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Chart & Maps</label>
        </li>
        <li data-username="Charts Morris" class="nav-item {% if 'morris_chart' in segment %}active{% endif %}"><a href="{% url 'morris_chart' %}" class="nav-link "><span
              class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span
              class="pcoded-mtext">Chart</span></a>
        </li>
        <li data-username="Maps Google" class="nav-item {% if 'google_maps' in segment %}active{% endif %}"><a href="{% url 'google_maps' %}" class="nav-link "><span
              class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Pages</label>
        </li> -->
        <!-- <li
          data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
          class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
          <ul class="pcoded-submenu">
            <li class=""><a href="{% url 'register' %}" class="" target="_blank">Register</a></li>
            <li class=""><a href="{% url 'login' %}" class="" target="_blank">Sign in</a></li>
          </ul>
        </li> -->
        <!-- <li data-username="Profile Page" class="nav-item {% if 'profile' in segment %}active{% endif %}"><a href="{% url 'profile' %}" class="nav-link"><span
              class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Profile
              Page</span></a>
        </li>
        <li data-username="Sample Page" class="nav-item {% if 'sample_page' in segment %}active{% endif %}"><a href="{% url 'sample_page' %}" class="nav-link"><span
              class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample
              page</span></a>
        </li>
        <li data-username="Disabled Menu" class="nav-item disabled"><a href="javascript:" class="nav-link"><span
              class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled
              menu</span></a>
        </li> -->
        {% endif %}
      </ul>
    </div>
  </div>
</nav>